<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         cacheResultFile=".phpunit.result.cache"
         beStrictAboutCoverage="false"
         beStrictAboutMissingSmallStatement="false"
         beStrictAboutOutputDuringTest="false"
         beStrictAboutTestsThatDoNotTestAnything="false"
         beStrictAboutTodoTestedCode="false"
         failOnWarning="false"
         failOnRisky="false"
         verbose="true">
    <testsuites>
        <testsuite name="Unit Tests">
            <directory suffix="Test.php">tests/Unit</directory>
        </testsuite>
    </testsuites>
    <coverage cacheDirectory=".phpunit.result.cache">
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>
</phpunit>
